# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


~*
*~

interpreter/src/tarskisysdep.*
interpreter/src/search/qfr
interpreter/src/algparse/grammar.tab.*
interpreter/src/algparse/grammar.output
interpreter/src/algparse/frewrite
interpreter/bin/tarski
interpreter/src/poly/go
*minisat
*.od
*.or
*depend.mk

# QEPCAD/Saclib
qesource/source/qepcad
saclib2.2.7/include/sacproto.h
saclib2.2.7/lib/objd/makefile
saclib2.2.7/lib/objo/makefile
